# Ignore all audio files
*.mp3
*.wav
*.ogg
*.m4a
*.flac
*.mid
# ... y cualquier otra extensión de audio que desees ignorar

# Ignore Python bytecode directories
__pycache__/

# Ignore log files
*.log
*.npy

# Ignore Excel files
*.xls
*.xlsx

# Ignore Word documents
*.doc
*.docx
*.jpg
*.png
!dall_e_image.png
*.eps
*.txt
*.zip
.DS_Store